/* testing out the layout and styles of the buttons for the simon game */

@import url('https://fonts.googleapis.com/css?family=Michroma:100,200,300,400,500,600,700,800,900|Montserrat:100,200,300,400,500,600,700,800,900|Press+Start+2P:100,200,300,400,500,600,700,800,900');



body {
    background-color: #282525;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;

}


.button1,
.button2,
.button3,
.button4 {
    height: calc(50vh - 1.2em);
    border-radius: 20%;
    margin: .6em;
}

.button1 {
    background-color: #990000;
    
    border: solid 3px #0d0d0d; /* fallback colour */
    border: solid 3px hsla(0,0%,5%,1); 
  
    box-shadow: inset hsla(0,0%,15%,  .8) 0px  0px 25px 30px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
    
    hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
    hsla(0,0%,100%,.5) 0px  0px 6px 4px; /* outer HL */ 
}


/*.button1:hover {
    background-color: #ff0000;
    
    border: solid 3px #330000; /* fallback colour */
/*  border: solid 3px hsla(0,0%,5%,.8); 
    
/*     box-shadow: inset hsla(0,0%,15%,  .6) 0  0px 25px 30px, /* border */
/*    inset hsla(0,100%,20%, .8) 0 -1px 5px 4px, /* soft SD */
/*    inset hsla(0,100%,60%, .25) 0 -1px 0px 7px, /* bottom SD */
/*    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
    
/*    hsla(0,100%, 80%,.2) 0 -5px 15px 14px, /* outer SD */
/*    hsla(0,100%,80%,.5) 0px  0px 6px 4px; /* outer HL */ 
/*  } */


.button2 {
    background-color: #003399;
 
 border: solid 3px #0d0d0d; /* fallback colour */
 border: solid 3px hsla(0,0%,5%,1);
 
 box-shadow: inset hsla(0,0%,15%,  .8) 0  0px 25px 30px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
    
    hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
    hsla(0,0%,100%,.5) 0px  0px 6px 4px; /* outer HL */ 
    
}

/*.button2:hover {
    background-color: #0055ff;
    
    border: solid 3px #001133; /* fallback color */
 /*   border: solid 3px hsla(0,0%,5%,.8); 

     box-shadow: inset hsla(0,0%,15%,  .6) 0  0px 25px 30px, /* border */
/*    inset hsla(220,100%,20%, .8) 0 -1px 5px 4px, /* soft SD */
/*    inset hsla(220,100%,60%, .25) 0 -1px 0px 7px, /* bottom SD */
/*    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
    
/*    hsla(220,100%, 80%,.2) 0 -5px 15px 14px, /* outer SD */
/*    hsla(220,100%,80%,.5) 0px  0px 6px 4px; /* outer HL */ 

/*  } */

.button3 {
    background-color: #006600;
 
 border: solid 3px #0d0d0d; /* fallback colour */
 border: solid 3px hsla(0,0%,5%,1);
 
 box-shadow: inset hsla(0,0%,15%,  .8) 0  0px 25px 30px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
    
    hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
    hsla(0,0%,100%,.5) 0px  0px 6px 4px; /* outer HL */ 
 
}


/*.button3:hover {
    background-color: #00cc00;
    
    border: solid 3px #003300; /* fallback colour */
/*    border: solid 3px hsla(0,0%,5%,.8); 
   
 box-shadow: inset hsla(0,0%,15%,  .6) 0  0px 25px 30px, /* border */
/*    inset hsla(120,100%,15%, .8) 0 -1px 5px 4px, /* soft SD */
/*    inset hsla(120,100%,30%, .25) 0 -1px 0px 7px, /* bottom SD */
/*    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
    
/*    hsla(120,100%, 80%,.2) 0 -5px 15px 14px, /* outer SD */
/*    hsla(120,100%,80%,.5) 0px  0px 6px 4px; /* outer HL */   
   
/*}*/


.button4 {
    background-color: #b3b300;
  
  border: solid 3px #0d0d0d; /* Fallback colour */
  border: solid 3px hsla(0,0%,5%,1); 
  
  box-shadow: inset hsla(0,0%,15%,  .8) 0  0px 25px 30px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
    
    hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
    hsla(0,0%,100%,.5) 0px  0px 6px 4px; /* outer HL */ 
  
}

/*.button4:hover {
    background-color: #ffff33;
    
    border: solid 3px #332700; /* fallback colour */
/*    border: solid 3px hsla(0,0%,5%,.8); 
   
/*    box-shadow: inset hsla(0,0%,15%,  .6) 0  0px 25px 30px, /* border */
/*    inset hsla(60,100%,15%, .8) 0 -1px 5px 4px, /* soft SD */
/*    inset hsla(60,100%,35%, .25) 0 -1px 0px 7px, /* bottom SD */
/*    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
    
/*    hsla(60,100%, 80%,.2) 0 -5px 15px 14px, /* outer SD */
/*    hsla(60,100%,80%,.5) 0px  0px 6px 4px; /* outer HL */ 
/*}*/

.centerPad {
    position: absolute;
    text-align: center;
    height: 10em;
    width: 10em;
    background-color: #797978;
    left: calc(50% - 5em);
    top: calc(50% - 5em);
    border-radius: 50%;
    
    border: 3px solid #1a1a1a; /* Fallback border color */
    border: 3px solid hsla(0, 0%, 0%, .8); 
   
    box-shadow: inset hsla(0,0%,15%, 1) 0  0px 4px 5px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(60,0%,65%,.7) 0  2px 1px 7px, /* top HL */
    
    hsla(0,0%, 10%,.45) 0 -5px 15px 20px, /* outer SD */
    hsla(0,0%,100%,.7) 0px  0px 6px 6px; /* outer HL */ 
}

.centerPad:hover {
    background-color: #999999;
    
    border: 3px solid #404040; /* Fallback Border Colour */
    border: 3px solid hsla(0, 0%, 10%, .8); 
    
   box-shadow: inset hsla(0,0%,15%,  1) 0  0px 4px 5px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
    
    hsla(0,0%, 10%,.45) 0 -5px 15px 20px, /* outer SD */
    hsla(0,0%,100%,.7) 0px  0px 6px 6px; /* outer HL */ 

}

.playCounter {
    position: absolute;
    font-size: 4em;
    background-color: #00284d;
    color: transparent;
    top: 26.5%;
    left: 38%;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, .25);
    -webkit-background-clip: text;
    -moz-background-clip: text;
/*    background-clip: box;           Having an issue in the background-clip in CSS validator        */
}

.centerPad:hover .playCounter {
    background-color: #339cff;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, .7);
}

.header-wrapper {
    background-color: gray;
    text-align: center;
    color: white; 
    width: 100%;
    height: auto;
   /* font-size: 30px; 
    font-family: 'Michroma', sans-serif;
    text-transform: uppercase;
    font-weight: bold; */
      /*  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%); */
      background-image: linear-gradient(319deg, red 25%, blue 50%, green 65%);
        
        
        
} 

.txt-content {
    
    /*color: orange; */
    font-size: 4em; 
    font-family: 'Michroma', sans-serif;
    text-transform: lowercase;
    font-weight: bold; 
    /*text-shadow:  0px 2px 3px rgba(255, 255, 255, 0.7); */
    
    /* Shadows are visible under slightly transparent text color */
    color: rgba(10,60,150, 0.8);
    text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
    
}

.game-title-header {
    color: yellow;
}

.game-title-header strong {
    text-transform: uppercase;
}

.game-title-header p span {

    color: white;
    text-transform: uppercase;
}

.game-title-header p {
    padding: 0px;
    font-size: 1em;
}


.game-rules,
.game-settings {
    
    height: auto;
    background-color: #4f4a41;
    border: 2px solid #d9d9d9;
    margin-top: 10em;
    padding: .4em;
    color: #d9d9d9;
    text-align: center
}

.game-rules span,
.game-settings span {
    font-size: 1em;
    font-family: 'Press Start 2P', cursive;
    
}

.devider {
    background-color: #d9d9d9;
}
.fa-gamepad,
.fa-cog {
    display: block;
    font-size: 1.6em;
    color: #d9d9d9;
}

.select-dificulty {
    padding-top: .8em;
}

.select-dificulty span {
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
    

}

/* .game-settings {
    height: 100px;
    background-color: gray;
    margin-top: 10em;
    color: white;
} */

.footer-section {
    text-align: center;
    background-color: #4f4a41;
    color: #d9d9d9;
    height: 50%;
    font-size: .8em;
}

.footer-info,
.copyright, p  {
    
    margin: 0;
}

.signature {
    margin-bottom: .2em;
}
.footer-info a {
    
   display: inline-block; 
    color: #d9d9d9;
    font-size: 1.8em;
}

.footer-info a:hover {
    color: white;

}

.settings-wrapper,
.rules-wrapper {
    background-color: #282525; /* to change the background if needed, might not use */
}



/*   MEDIA QUEIRES */

@media (min-width: 991px) {
    
.button1,
.button2,
.button3,
.button4 {
        
    height: calc(50vh - 10.9em);
    }
    
.centerPad {
    
    left: calc(50% - 4.2em);
    top: calc(50% - 2.6em);
    height: 8em;
    width: 8em;
    }
    
.playCounter {
    
    font-size: 3em;
    top: 28%;
    left: 37%;   /* I need to calculate the percentages better */

    }
    
.gameSection {
    padding: 4em;
}
}


